:root {
	--primary: #006ff1;
	--secondary: #374353;
	--shadow: #ebefff;
	--hover: #2c364226;
	--active: #2c364240;
	--alternate: #ababab;
	--bg: #fafbff;
}

button {
	background-color: unset;
	border: unset;
}

body {
	height: 100svh;
	min-height: 410px;
	width: 100svw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	/* TODO EDIT */
	background-color: #627185;

	font-family: 'Lato', system-ui, 'Segoe UI', 'Roboto', Helvetica,
		Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	font-weight: 400;
}

img,
svg {
	display: block;
	max-width: 100%;
}

.calculator {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 90%;
	height: 90%;
	max-height: 650px;
	aspect-ratio: 9 / 16;
	border-radius: 20px;
	padding: 30px 20px;
	background-color: var(--bg);
	box-shadow: 3px 4px 30px #0004, 0px 0px 15px #0004;

	transition: background-color 0.2s ease;
}

.calculator_header {
	align-self: flex-end;
}

.header_theme-button {
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 10px;

	padding: 5px 7px;
	border-radius: 45px;
	box-shadow: inset 2.26px 2.26px 2.26px 0 var(--shadow),
		inset -2.26px -2.26px 2.26px 0 var(--shadow);
	transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.header_theme-button:hover {
	background-color: var(--shadow);
}

.header_theme-button:hover svg {
	rotate: 260deg;
}

.header_theme-icon {
	padding: 3px;
	border-radius: 100%;
	background-color: var(--bg);
	box-shadow: 2.26px 2.26px 2.26px var(--shadow);

	transition: box-shadow 0.2s ease, background-color 0.2s ease;
}

.header_theme-icon svg {
	width: 24px;
	height: 24px;
	color: var(--primary);
	transition: rotate 0.6s ease, color 0.2s ease;
}

.calcualtor_form {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.header_theme-content {
	color: var(--primary);
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;

	transition: width 0.4s ease;
}

.calculator_output {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
	flex-grow: 1;
	gap: 10px;
}

.output_history {
	cursor: pointer;
	overflow-x: auto;
	white-space: nowrap;
	max-width: 350px;
	font-weight: 600;
	font-size: 20px;
	color: var(--secondary);

	transition: color 0.2s ease;
}

.output_data {
	font-weight: 600;
	font-size: 32px;
	color: var(--primary);

	padding: 0;
	border: none;
	outline: none;
	text-align: right;
	background-color: transparent;
}

.calculator_buttons {
	display: flex;
	flex-direction: column;
	flex-grow: 2;
	justify-content: flex-end;
}

.buttons_memory {
	display: flex;
}

.buttons_memory-btn {
	height: 35px;
	min-width: 50px;
	font-size: 12px;
	font-weight: 600;
	border-radius: 5px;
	color: var(--secondary);

	transition: background-color 0.2s ease, color 0.2s ease;
}

#buttons_memory-btn-copy {
	font-size: 16px;
	margin-left: auto;
	text-transform: uppercase;
}

#buttons_memory-btn-copy.disabled {
	display: none;
}

.buttons_memory-btn.disabled {
	color: var(--alternate);
}

.buttons_memory-btn:not(.disabled):hover {
	cursor: pointer;
	background-color: var(--hover);
}

.buttons_memory-btn:not(.disabled):hover:active {
	background-color: var(--active);
}

.buttons_main {
	display: grid;
	gap: 10px;
	margin-top: 10px;
	max-height: 300px;
	height: 100%;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

.buttons_main-btn {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	font-size: 20px;
	font-weight: 600;
	color: var(--secondary);
	background-color: var(--bg);
	box-shadow: -5px -5px 10px var(--shadow), 5px 5px 10px var(--shadow);
	transition: background-color 0.2s ease, box-shadow 0.2s ease,
		color 0.2s ease;
}

.buttons_main-btn:hover {
	background-color: var(--hover);
}

.buttons_main-btn:active {
	background-color: var(--active);
	transition: none;
}

.buttons_main-btn.primary {
	color: var(--primary);
}

.temp {
	background-color: red;
	width: calc(((((12 + 7 * 6) / pow(6, pow(1, 6))) * 1px)));
	height: 100px;
}
